<h1> <%= current_user.username %> Tweet</h1>
<p> <%= @tweet.content%></p>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet">
</form>